@use '../../variables';


.video-gallery {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.vertical-row {
    height: 40vh;
    display: flex;
    position: static;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.vertical-item-layout {
    height: 80%;
}

.left-caption {
    text-align: left;
    margin-left: 5px;
}

.right-caption {
    text-align: right;
    margin-right: 10px;
    margin-bottom: 7px;
}

.video-card {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%; /* This makes it fill the available height */
    // max-height: 30vh; /* Additional safety constraint */
}

.video-card video {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    width: 100%;
    height: 100%;
}