@use '../../variables';

:root {
    --box-heading-size: 150%;
}

.FloatingBox {
    width:80%;
    margin: 20px;
    padding: 10px;
    padding-bottom: 20px;
    background-color: #FAF7F0;
    transition: box-shadow 0.7s, margin-top 1s, margin-left 1s;
    border: 1.5px solid #4A4947;
}

.FloatingBox:hover {
    box-shadow: 5px 10px #D8D2C2;
    margin-top:-1px;
    margin-left:10px;
}

.box-heading-flex {
    display: flex;
    justify-content: space-between;
}

.FloatingBox-titling>h2 {
    display: inline;
    margin-right: 10px;
}

.FloatingBox-subtitle {
    color: variables.$color-accent;
}
