@use '../../variables';

// Expandable
.FloatingBoxExpandable {
    width:80%;
    display:flex;
    justify-content: center;
    margin: 20px;
    min-height: 100px;
    transition: margin-bottom var(--time-up), margin-top var(--time-up), box-shadow var(--time-up);
}


.FloatingBoxExpandable-text p {
    font-size: inherit;
}

.FloatingBoxExpandable-text h1 {
    margin-bottom: 10px;
    text-align:center;
    font-size: var(--box-heading-size);
}

.FloatingBoxExpandable-text ul li {
    margin-left:20px;
}

.FloatingBoxExpandable-links {
    text-align: right;
}

.FloatingBoxExpandable-link-btn {
    background: whitesmoke;
    border: 3px solid lightblue; /* purple: #6e6fac */
    width: 150px;
    height: 40px;
    border-radius: 5px;
    margin-top: 15px;
    font:inherit;
    font-size: 20px;
    transition: border 0.3s;
}

.FloatingBoxExpandable-link-btn:hover {
    cursor: help;
    border: 6px solid lightblue;
}

.FloatingBoxExpandable-frame {
    display:flex;
    flex-direction: column;
    background-color: var(--tab-color);
    padding: 30px;
    padding-bottom: 50px;
}

.FloatingBoxExpandable-tab {
    text-align:center;
    background-color:var(--tab-color);
    width: 40%;
    font-size: 30px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    --br:5px;
    border-top-left-radius: var(--br);
    border-top-right-radius: var(--br);
}


.SectionBox-popup {
    position:absolute;
    z-index: 0;
    overflow:hidden;
    width:80%;
    height:90px;
    transition: margin-top var(--time-up), height var(--time-up);
}

.FloatingBoxExpandable-image {
    width: 100%;
    height: var(--popup-click-height)
}

.FloatingBoxExpandable-video {
    background-color: #91C6CF;
    width: 100%;
    height: var(--video-height);
    display: block;
}

.SectionBox-popup-hovered {
    margin-top: calc(-1 * var(--popup-hover-height));
    height: var(--popup-hover-height);
    transition: margin-top var(--time-down), height var(--time-down);
}

.FloatingBoxExpandable-hovered {
    margin-top: var(--popup-hover-height);
    transition: margin-bottom var(--time-down), margin-top var(--time-down), box-shadow var(--time-down);
    box-shadow: 5px 10px variables.$color-shade;
}

.FloatingBoxExpandable-popup-clicked {
    margin-top: calc(-1 * var(--popup-click-height));
    height: var(--popup-click-height);
    
}

.FloatingBoxExpandable-clicked {
    margin-top: var(--popup-click-height);
}
