#landing-page {
    height: 100vh;
}

#landing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex: 1;
}

.intro {
    position:absolute;
    top: 10%;
    right: 12%;
}

.title {
    font-size: 100px;
}

.subtitle {
    font-size: 40px;
    margin-top: -40px;
}

hr {
    text-align: center;
    width: 50vw;
}