.nav-menu {
    position: sticky;
    top: 10vh;
    float: right;
    margin-right: 2vw;
    text-align: right;
    width: max-content;
    font-size: 1.5rem;
}

.nav-menu>div {
    margin-top: 3vh;
}