$color-back: #FAF7F0;
$color-shade: #D8D2C2;
$color-accent: #B17457;
$color-text: #4A4947;

$font: 'Crimson Text';


body {
    background-color: $color-back;
    color: $color-text;
    font-family: $font;
}

.text-center {
    text-align: center
}

.page {
    min-height: 100vh;
    padding: 10vh 10vw 10vh 10vw; // top r bot left
}

.h-center {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 60px;
    font-weight:lighter;
}